<!DOCTYPE html>
<html lang="en">
<head>
  <title>Features stats: {{parser}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap.min.css">
</head>
  <body>
    <div class="container-fluid">
      <h3><a href="index.html">Overview</a> > Features stats: {{parser}}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Feature</th>
            <th>Valid Files (passed/all)</th>
            <th>Invalid Files (passed/all)</th>
            <th>Total (passed/all)</th>
          </tr>
        </thead>
        <tbody>
          {{#stats}}
            <tr>
              <td>{{feature}}</td>
              <td>{{valid.success}}/{{valid.total}}</td>
              <td>{{invalid.success}}/{{invalid.total}}</td>
              <td>{{all.success}}/{{all.total}}</td>
            </tr>
          {{/stats}}
        </tbody>
      </table>
    </div>
  </body>
</html>
